<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NCommons.Persistence.LinqToSql.Specs.Properties.Settings.TestConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
        <add name="NCommons.Persistence.LinqToSql.Specs.Properties.Settings.TestConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
